.template1 {
    background-color: var(--secondary);
}

.personal {
    padding: 50px 20px 20px 20px;
    width: 40%;
    background-color: var(--primary);
    color: var(--tertiary)
}

.professional {
    padding: 50px 20px 20px 20px;
    color: var(--quaternary)
}

.name span {
    font-size: 30px;
    font-weight: bold;
}

.template1 h2 {
    font-size: 22px;
    border-bottom: 3px solid var(--quinary);
    margin-bottom: 10px;
}

.template1 h3 {
    font-size: 16px;
}

.proficiency, .timespan, .position, .degree {
    color: var(--quaternary)
}

.lastname {
    padding-top: 10px;
}

.photo-container {
    margin-top: 20px;
    margin-left: 20px;
    border: 1px solid gray;
    border-radius: 50%;
    height: 160px;
    width: 160px;
}

.section {
    padding-top: 20px;
}

.category {
    padding-bottom: 10px;
}

.category:last-child {
    padding-bottom: 0;
}



.contact .category-name {
    font-weight: bold;
}

.skills ul {
    padding-top: 10px;
    padding-left: 20px;
}

.language {
    margin-bottom: 5px;
}

.languages .proficiency {
    font-size: 0.8em;
}

.photo-container {
    overflow: hidden;
}

.photo-container img {
    display: block;
    max-height:100%;
    max-width:100%;
}