.template2 {
    background-color: var(--quinary);
    color: var(--tertiary);
    font-size: 14px;
    overflow: hidden;
}

.template2 .icon {
    color: var(--tertiary);
}

.template2 h2 {
    font-size: 18px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--tertiary);
}

.template2 h3 {
    font-size: 14px;
}

.template2 .firstname, .template2 .profession {
    color: var(--quaternary)
}

.template2.main-container {
    padding: 35px 30px 35px 30px;
}

.template2 .top {
    height: 150px;
}

.template2 .title-container {
    background-color: var(--primary);
    color: var(--cultured);
    padding: 40px 30px;
    flex: 2;
}

.template2 .name {
    font-size: 34px;
    font-weight: normal;
}

.template2 .profession {
    margin-top: 10px;
    font-size: 20px;
}

.template2 .photo-container {
    margin-left: 20px;
    border: 1px solid var(--quaternary);
    width: 150px;
    overflow: hidden;
}

.photo-container img {
    display: block;
    max-width:100%;
    max-height: 100%;
}

.template2 .bottom {
    padding: 25px;
    margin-top: 40px;
    flex: 1;
    width: 100%;
    background-color: var(--secondary);
}

.template2 .contact-row {
    margin-bottom: 9px;
}

.template2 .contact-row:last-child {
    margin-bottom: 0px;
}

.template2 .contact p {
    margin-left: 5px;
}

.template2 .summary {
    text-align: justify;
    margin-left: 40px;
    flex: 1;
}

.template2 .skills {
    padding: 0 30px;
    flex: 1;
}

.template2 .section-row {
    margin-bottom: 20px;
}

.template2 .item-row {
    padding: 3px 0;
}

.template2 .item-row:first-child {
    padding-top: 0;
}

.template2 .timespan {
    width: 110px;
    padding: 7px 0;
    text-align: center;
    background-color: var(--primary);
    color: var(--quaternary);
    font-weight: bold;
    margin-right: 50px;
}