:root {
  --jet: #343434;
  --dim-gray: #666666;
  --silver: #C2C2C2;
  --platinum: #EBEBEB;
  --cultured: #F5F5F5;

  --primary: #343434;
  --secondary: #c2c2c2;
  --tertiary: #343434;
  --quaternary: #3aafa9;
  --quinary: #f5f5f5
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--platinum);
}