:root {
  --jet: #343434;
  --silver: #C2C2C2;
  --platinum: #EBEBEB;
  --cultured: #F5F5F5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--platinum);
}

.cv {
  height: 800px;
  width: 565px;
  margin: 2em;
  border: 1px solid black;
  background-color: var(--cultured);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.personal {
  width: 40%;
  background-color: var(--silver);
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}