:root {
  --jet: #343434;
  --dim-gray: #666666;
  --silver: #C2C2C2;
  --platinum: #EBEBEB;
  --cultured: #F5F5F5;

  --primary: #5d5c61;
  --secondary: #f5f5f5;
  --tertiary: #afa295;
  --quaternary: #5d5c61;
  --quinary: #5d5c61;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--platinum);
}